body { margin:0; padding:0; font-family: monospace; font-size: 15px; }
.map { position:absolute; top:0; bottom:0; width:100%; }
#info {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  background: #fff;
  width: 300px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
#marker {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #000;
}
.text-light {
  color: #c0c0c0;
}
.field {
  border-top: 1px solid #f6f6f6;
}
input {
  width: 100%;
  background: white;
  border: 1px solid #c0c0c0;
  padding: 1em;
  margin-top: 1em;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}